
<div class="show-articulo">
<br><br><br><br>

  <div class="container articulo-container">

    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8 articulo foldtr">
        <br>
        <h1 class="text-left"><%= @articulo.titulo %></h1>
        <p class="text-right"> por: <a href="#">@IlCreatore</a></p>
        <h3 class="text-left">Descripcion</h3>
        <h5 class="text-justify"><%= @articulo.descripcion %><h5>

        <h3 class="text-left">Contenido</h3>
        <p id="comprar-btn" class="text-center">
          <button id="comprar" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Comprar por solo 1$</button>
          <br>
          <small class="hint-coffee">Equivalente a media taza de cafe</small>
        </p>
        <h5 id="contenido-container" class="text-justify hidden">
          <%= @articulo.contenido %>
          <p class="text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Traducir</button>
          </p>
        </h5>

        <div>
          <h3> Informacion adicional</h3>
          <p>Categorias: <%= @articulo.categoria %>...</p>
          <p>Tweet: <%= @articulo.tweet %></p>
        </div>

        <%= link_to 'Edit', edit_articulo_path(@articulo) %> |
        <%= link_to 'Back', articulos_path %>
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>

<br><br><br><br>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Comprando "<%= @articulo.titulo %>"</h4>
      </div>
      <div class="modal-body">
        <div class="ccjs-card">
          <label class="ccjs-number">
            Card Number
            <input name="card-number" class="ccjs-number" placeholder="•••• •••• •••• ••••">
          </label>

          <label class="ccjs-csc">
            Security Code
            <input name="csc" class="ccjs-csc" placeholder="•••">
          </label>

          <button type="button" class="ccjs-csc-help">?</button>

          <label class="ccjs-name">
            Name on Card
            <input name="name" class="ccjs-name">
          </label>

          <fieldset class="ccjs-expiration">
            <legend>Expiration</legend>
            <select name="month" class="ccjs-month">
              <option selected disabled>MM</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>

            <select name="year" class="ccjs-year">
              <option selected disabled>YY</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
            </select>
          </fieldset>

          <select name="card-type" class="ccjs-hidden-card-type">
            <option value="amex" class="ccjs-amex">American Express</option>
            <option value="discover" class="ccjs-discover">Discover</option>
            <option value="mastercard" class="ccjs-mastercard">MasterCard</option>
            <option value="visa" class="ccjs-visa">Visa</option>
            <option value="diners-club" class="ccjs-diners-club">Diners Club</option>
            <option value="jcb" class="ccjs-jcb">JCB</option>
            <!--<option value="laser" class="laser">Laser</option>-->
            <!--<option value="maestro" class="maestro">Maestro</option>-->
            <!--<option value="unionpay" class="unionpay">UnionPay</option>-->
            <!--<option value="visa-electron" class="visa-electron">Visa Electron</option>-->
            <!--<option value="dankort" class="dankort">Dankort</option>-->
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button id="mostrar_contenido" type="button" class="btn btn-primary" data-dismiss="modal">Completar orden</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Obtener traducciones</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/banderas.jpg">
        <div class="ccjs-card">
          <label class="ccjs-number">
            Card Number
            <input name="card-number" class="ccjs-number" placeholder="•••• •••• •••• ••••">
          </label>

          <label class="ccjs-csc">
            Security Code
            <input name="csc" class="ccjs-csc" placeholder="•••">
          </label>

          <button type="button" class="ccjs-csc-help">?</button>

          <label class="ccjs-name">
            Name on Card
            <input name="name" class="ccjs-name">
          </label>

          <fieldset class="ccjs-expiration">
            <legend>Expiration</legend>
            <select name="month" class="ccjs-month">
              <option selected disabled>MM</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>

            <select name="year" class="ccjs-year">
              <option selected disabled>YY</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
            </select>
          </fieldset>

          <select name="card-type" class="ccjs-hidden-card-type">
            <option value="amex" class="ccjs-amex">American Express</option>
            <option value="discover" class="ccjs-discover">Discover</option>
            <option value="mastercard" class="ccjs-mastercard">MasterCard</option>
            <option value="visa" class="ccjs-visa">Visa</option>
            <option value="diners-club" class="ccjs-diners-club">Diners Club</option>
            <option value="jcb" class="ccjs-jcb">JCB</option>
            <!--<option value="laser" class="laser">Laser</option>-->
            <!--<option value="maestro" class="maestro">Maestro</option>-->
            <!--<option value="unionpay" class="unionpay">UnionPay</option>-->
            <!--<option value="visa-electron" class="visa-electron">Visa Electron</option>-->
            <!--<option value="dankort" class="dankort">Dankort</option>-->
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>